@use './colors';

.container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 600px;
}

.title-card {
  h1 {
    color: colors.$accentColor;
    font-size: 2rem;
  }
  p {
    color: colors.$paragraphColor;
  }
}

.score-card {
  color: colors.$accentColor;
  margin-bottom: 2rem;
}

.game-board {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}

.tile {
  border: solid 1px black;
  aspect-ratio: 1 / 1;
}